<launch>

  <arg name="gui" default="false" />
  <arg name="robot_model" default="hsrb4s" />
  <arg name="visualization" default="true" />
  <arg name="implicit_damping" default="false" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="fake_localizationt"
        output="screen" args="0 0 0 0 0 0 odom odom_t_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="fake_localizationx"
        output="screen" args="0 0 0 0 0 0 odom odom_x_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="fake_localizationy"
        output="screen" args="0 0 0 0 0 0 odom odom_y_link" />

  <param name="robot_description"
      command="$(find xacro)/xacro.py $(find hsr_description)/robots/$(arg robot_model).urdf.xacro gazebo_visualization_enabled:=$(arg visualization) implicit_damping:=$(arg implicit_damping)" />


  <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="enable_self_collision">False</rosparam>
    <rosparam param="interactive_marker_chains">
      - [odom_t_link, hand_palm_link]
    </rosparam>
  </node>

</launch>
